body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e3a8a, #0ea5e9);
    font-family: "Poppins", sans-serif;
}

.calculator {
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
}

.display input {
    width: 100%;
    padding: 20px;
    font-size: 30px;
    background: rgba(255,255,255,0.15);
    border: none;
    border-radius: 12px;
    color: #fff;
    text-align: right;
    outline: none;
    font-weight: 600;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-top: 20px;
}

.btn {
    padding: 18px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background: rgba(255,255,255,0.15);
    color: #fff;
    font-weight: 600;
    transition: 0.25s;
}

.btn:hover {
    background: rgba(255,255,255,0.3);
    transform: translateY(-4px);
}

.operator {
    background: rgba(255, 255, 255, 0.25);
}

.operator:hover {
    background: rgba(255, 255, 255, 0.4);
}

.equals {
    grid-row: span 2;
    background: #0ea5e9;
}

.equals:hover {
    background: #0284c7;
}

.clear {
    background: #ef4444;
}

.clear:hover {
    background: #dc2626;
}

.delete {
    background: #fb923c;
}

.delete:hover {
    background: #f97316;
}

.zero {
    grid-column: span 2;
}
